@charset "utf-8";
/* CSS Document */
body {
    background-color: lightblue;
}

h1 {
	color: #FF0000;
	font-size: 24px;
}

#firstParagraph{
	margin: 20px;
	background-color: lime;
	padding: 20px;
}

